html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px 80px;
  font-size: 25px;

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(30px);
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 100px;

  cursor: pointer;
}

.start-button:hover {
  transform: translate(-50%, -50%) scale(1.05);
}